<section class="adminPage">
  <app-nav-bar></app-nav-bar>
  <div class="all-links">
    <a routerLink="/adminShowAllUser"
      ><i class="fas fa-users"></i><span>Show All Users</span></a
    >
    <a routerLink="/adminAllTestDrive"
      ><i class="fas fa-users-cog"></i><span>All TestDrive Record</span></a
    >
    <a routerLink="/adminSetUserStatus"
      ><i class="fas fa-user-check"></i
      ><span>Set User Status(Approve/Reject)</span></a
    >
    <a routerLink="/newAdmin"
      ><i class="fas fa-plus"></i><span>Add New Admin</span></a
    >
  </div>
  <div class="imageformenu">
    <img src="{{ admin_menu_img }}" alt="Admin Menu Page" />
  </div>
</section>
