<section class="menupage">
  <app-nav-bar></app-nav-bar>
  <div class="all-links">
    <a routerLink="/applyLL"
      ><i class="fas fa-plus-square"></i><span>New Lerner's Licence</span></a
    >
    <a routerLink="/getTestDrive"
      ><i class="fas fa-biking"></i><span>TestDrive Details</span></a
    >
    <a routerLink="/uploadFiles"
      ><i class="fas fa-file-alt"></i><span>Re-Upload Files</span></a
    >
    <a routerLink="/applyDL"
      ><i class="fas fa-cog"></i><span>Permanent Driving Licence</span></a
    >
    <a routerLink="/renewLic"
      ><i class="fas fa-wrench"></i><span>Renew Licence</span></a
    >
    <a routerLink="/statusLic"
      ><i class="fas fa-question-circle"></i><span>Status of Licence</span></a
    >
  </div>
  <div class="imageformenu">
    <img src="{{ menu_img }}" alt="Menu Page" />
  </div>
</section>
